Click==7.1.2
Flask==1.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
Werkzeug==0.16.1
Flask-WTF==0.14.2
WTForms==2.3.3
flask-bootstrap
flask-nav
flask-debug
requests
cryptoaddress==0.2.1
