<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="">
  <link rel="icon" href="static/coinport_logo.png">
  
  <link rel="apple-touch-icon" href="static/coinport_logo.png">
  <!-- Particle and Chart JavaScript -->
  <script src="static/js/nextparticle.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js"></script>
  <title>Coin Port</title>
  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles -->
  <link href="/static/css/product.css" rel="stylesheet">
  <link rel="stylesheet" href= "{{ url_for('static',filename='index.css') }}">
</head>

<body>

  <!-- Navbar -->

  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top py-1" id="mainNav" style="background: rgba(0,0,0, 200);">
      <div class="container-fluid">
        <a class="navbar-brand py-2" href="#">
          <img src="static/coinport_logo.png" alt="CoinPort" width="40" width="40" class="d-inline-block align-top">
          <span class="d-inline-block align-top" style="font-weight: 500; color:steelblue">CoinPort.</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto text-center">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger"><h5 style='color: grey'>Gas:</h5>Standard: {{standard}} | Fast: {{fast}} | Instant: {{instant}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <main role="main">


    <!-- Top card -->
    <div class="position-relative col-md-12 mt-5 pt-4 text-center">
      <!--div class="particle-text">
        <img id="logo" src="static/coinport.png" alt="CoinPort.">
        <script type="text/javascript">
          nextParticle = new NextParticle({
            image: document.all.logo,
            addTimestamp: true,
            width: Math.round(window.innerWidth * 0.91),
            height: Math.round(window.innerHeight * 0.21),
            initPosition: 'none',
            initDirection: 'none',
          });


          window.onresize = function() {
            nextParticle.width = Math.round(window.innerWidth * 0.91);
            nextParticle.height = Math.round(window.innerHeight * 0.21);
            nextParticle.start();
          };
        </script>

      </div-->
      <br><br>
      <div class="col-md-8 mx-auto pb-3">
        <small class="lead font-weight-normal">Built with </small><small class="lead font-weight-normal"><a style="color: #6450f4;" target="_blank" href="https://www.zapper.fi/">Zapper</a></small>
        {% block content %}
        <form action="" method="POST" class="form-inline col-lg-6 offset-lg-3">
          <input name="address" class="form-control col-md-8 mr-sm-2" style="border-radius: 0 !important;" type="text" placeholder={{address}} aria-label="Search">
          <button class="btn col-md-3 my-2 my-sm-0 btn-wrap-text" style="border-radius: 0 !important; color: #6450f4; border-color: #6450f4;" type="submit">Analyze</button>
        </form>
        {% endblock %}
      </div>
    </div>



    <!-- Second cards -->
    <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
      <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <canvas id="chart"></canvas>
        <script>
          // <block:setup:1>
          const labels = [
            'January',
            'February',
            'March',
            'April',
            'May',
            'June',
            'July'
          ];
          const data = {
            labels: {{ labels | safe }},
            datasets: [{
              label: 'Ether Amount',
              backgroundColor: '#6450f4',
              borderColor: '#6450f4',
              data: {{ values | safe }},
              }
            ]
          };
          // </block:setup>

          // <block:config:0>
          const config = {
            type: 'line',
            data,
            options: {}
          };


          var myChart = new Chart(
            document.getElementById('chart'),
            config
          );
        </script>
      </div>
      <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      </div>
    </div>



    </div>



    <footer class="py-2 bg-light">
      <div class="container">
        <p class="m-0 text-center text-black">© CoinPort 2021</p>
      </div>
    </footer>


    <script src="static/js/nextparticle.js"></script>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>
      window.jQuery || document.write('<script src="/static/vendor/jquery/jquery-slim.min.js"><\/script>')
    </script>
    <script src="/static/vendor/jquery/bootstrap.min.js"></script>
    <script src="/static/vendor/jquery/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
</body>

</html>
