<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="">
<link rel="icon" href="static/coinport_logo.png">

<link rel="apple-touch-icon" href="static/coinport_logo.png">
<!-- Particle and Chart JavaScript -->
<script src="static/js/nextparticle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js"></script>
<title>CoinPort</title>
<!-- Bootstrap core CSS -->
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        background-color: rgb(35,35,35);
    }

    #banner_video {
    position: fixed;
    right: 0;
    bottom: 55%;
    min-width: 100%;
    max-width: 100%;
    max-height: 35%
    }
    
    #analyze_button:hover {
      background: rgb(70,70,70);
    }

</style>
</head>
<body>
<br>
<h1 id="title" style="top: 10%; text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: steelblue; font-size: 72px;">
  CoinPort.
</h1>

<video autoplay muted loop id="banner_video">
  <source src="{{ url_for('static',filename='banner_darkmode.mp4') }}" type="video/mp4">
  Your browser does not support HTML5 video.
</video>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<div class="col-md-8 mx-auto pb-3">
  <h4 style="color: whitesmoke; text-align: center; font-weight: 300;">
    <a style="text-decoration: none; font-weight: 400;" href="https://coinport.fi">CoinPort </a> offers detailed and insightful data 
    <br> on the past and present of your DeFi related finances, 
    <br> all in one convenient place.
  </h4>
  <br style="line-height: 0%;">
  {% block content %}
  <form action="/analyze" method="GET" class="form-inline col-lg-6 offset-lg-3">
    <input name="address" class="form-control col-md-8 mr-sm-2" style="border-radius: 0 !important;" type="text" placeholder="Enter an Ethereum address" aria-label="Search">
    <button class="btn col-md-3 my-2 my-sm-0 btn-wrap-text" id='analyze_button' style="border-radius: 0 !important; color:steelblue; border-color: steelblue; font-weight: 500;" type="submit">Analyze</button>
  </form>
  <br>  
  {% endblock %}
  <h5 style="color: whitesmoke; text-align: center; font-weight: 300;">
    Don't have an address? Try our <a href="http://www.coinport.fi/analyze?address=0x7E379d280AC80BF9e5D5c30578e165e6c690acC9" style="text-decoration: none;">demo address</a>.
  </h5>
</div>

<p class="m-0 text-center text-white" style="font-size: 22px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
    Powered by 
    <a href="https://zapper.fi/" target="_blank">
      <img style="height: 34px" src="static/darkmode_logos/zapper.png">
    </a>
    <a href="https://www.covalenthq.com/" target="_blank">
      <img style="height: 34px" src="static/darkmode_logos/covalent.png">
    </a>
    <a href="https://etherscan.io/" target="_blank">
      <img style="height: 34px" src="static/darkmode_logos/etherscan.png">
    </a>
    <a href="https://www.coingecko.com/" target="_blank">
      <img style="height: 34px" src="static/darkmode_logos/coingecko.png">
    </a>
</p>

<br>
<div class="container" id="flashed_messages">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning" style='max-width: 40%; left: 27.5%'>
      <button type="button" class="close" data-dismiss="alert" onclick="hide()">&times;</button>
      {{ message }}
  </div>
  {% endfor %}

  {% block page_content %}{% endblock %}
</div>

<script>
  function hide() {
    var elem = document.getElementById("flashed_messages");
    elem.style.display = 'none';
  }
</script>

</body>
</html>
