<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="">
<link rel="icon" href="static/coinport_logo.png">

<link rel="apple-touch-icon" href="static/coinport_logo.png">
<!-- Particle and Chart JavaScript -->
<script src="static/js/nextparticle.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js"></script>
<title>CoinPort</title>
<!-- Bootstrap core CSS -->
<link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<style>
    body {
        background-color: rgb(35,35,35);
    }

    #banner_video {
    position: fixed;
    right: 0;
    bottom: 55%;
    min-width: 100%;
    max-width: 100%;
    max-height: 35%
    }
</style>
</head>
<body>
<br>
<h1 id="title" style="top: 10%; text-align: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; color: steelblue; font-size: 72px;">CoinPort.</h1>

<video autoplay muted loop id="banner_video">
  <source src="{{ url_for('static',filename='banner_darkmode.mp4') }}" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br> <!--i didnt know what else to do lol-->

<div class="col-md-8 mx-auto pb-3">
  {% block content %}
  <form action="/analyze" method="GET" class="form-inline col-lg-6 offset-lg-3">
    <input name="address" class="form-control col-md-8 mr-sm-2" style="border-radius: 0 !important;" type="text" placeholder="Enter an Ethereum address" aria-label="Search">
    <button class="btn col-md-3 my-2 my-sm-0 btn-wrap-text" style="border-radius: 0 !important; color: #6450f4; border-color: #6450f4;" type="submit">Analyze</button>
  </form>
  {% endblock %}

</div>
<div class="container" id="flashed_messages">
  {% for message in get_flashed_messages() %}
  <div class="alert alert-warning" style='max-width: 40%; left: 27.5%'>
      <button type="button" class="close" data-dismiss="alert" onclick="hide()">&times;</button>
      {{ message }}
  </div>
  {% endfor %}

  {% block page_content %}{% endblock %}
</div>

<script>
  function hide() {
    var elem = document.getElementById("flashed_messages");
    elem.style.display = 'none';
  }
</script>

</body>
</html>
